.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px 1fr 200px;
  flex-direction: row;
  gap: 10px;
}
.box1 {
  height: 200px;
  width: 200px;
  background-color: red;
}
.box2 {
  height: 200px;
  width: 200px;
  background-color: blue;
}
.box3 {
  height: 200px;
  width: 200px;
  background-color: green;
}
.box4 {
  height: 200px;
  width: 200px;
  background-color: aliceblue;
}
.box5 {
  height: 200px;
  width: 200px;
  background-color: beige;
}
.box6 {
  height: 200px;
  width: 200px;
  background-color: brown;
}
